{% trans_default_domain 'FOSUserBundle' %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8">
            <div class="jumbotron">
                <h4>Mes réservations</h4>
                <p class="lead">Ici vous trouverez vos réservations.<br> Attention, toute anulation est irréversible.
                </p>
                <hr class="my-4">
                {% for resa in user.reservation %}
                    <div class="row">
                        <div class="col-md-5">
                            <p class="mt-2">
                                {{ resa.commandDetails.categoryHasSeason.name }}
                            </p>
                            <p>Date de début : {{ resa.reservationStart|date('d/m/Y') }}</p>
                            <p>Date de fin : {{ resa.reservationEnd |date('d/m/Y') }}</p>
                            <p>Option(s) :{{ resa.commandDetails.CommandDetailsHasOption.Options.name }}
                                :{{ resa.commandDetails.CommandDetailsHasOption.price }}€</p>
                            <h5>Prix total : {{ resa.totalPrice }} €</h5>
                        </div>
                        <div class="col-md-3 offset-md-4">
                            <img src="{{ asset('assets/img/slider/' ~ resa.commandDetails.categoryHasSeason.category.media) }}"
                                 alt="emplacement" class="img-fluid mt-2">
                        </div>
                    </div>
                    <a class="btn btn-success" href="#" role="button">Télécharger le PDF</a>
                    {% if resa.isCancelled == false %}
                        <a class="btn btn-danger" href="{{ path ('resa.annulation', {id: resa.id}) }}" role="button">Annuler
                            la réservation</a>
                    {% else %}
                        <button class="btn btn-secondary" href="#">Réservation annulée</button>
                    {% endif %}
                    <hr>
                {% endfor %}
            </div>
        </div>


        <div class="offset-md-1 col-md-3">
            <div class="jumbotron">
                <h4>Mes infos</h4>
                <hr class="my-4">
                <p><strong>Email:</strong> {{ user.email }}</p>
                <hr class="my-4">
                <p><strong>Téléphone:</strong> {{ user.phone }}</p>
                <p><strong>Date de naissance:</strong> {{ user.birthdate | date("d/m/Y") }}</p>
                <hr class="my-4">
                <p><strong>Adresse:</strong> {{ user.address }}</p>
                <p>{{ user.postalCode }} {{ user.city }}</p>
                <p>{{ user.country }}</p>

                <a class="btn btn-success" href="{{ path ('fos_user_profile_edit') }}" role="button">
                    Modifier profil
                </a>
                <a class="btn btn-secondary mt-2 mb-2" href="{{ path ('fos_user_change_password') }}" role="button">
                    Changer mon mot de passe
                </a>
                <a class="btn btn-danger btn-sm" href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
            </div>
        </div>

    </div>
</div>

