{% extends ('base.html.twig') %}

{% block stylesheets %}
    <link href="{{ asset ('assets/css/vitrine/accueil.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

    {% block header %}
        <div class="headerAccueil d-md-block d-none">
            {# SVG #} {# CACHE POUR LA WAVE #}
            <svg class="mt-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1365 637.14"><defs><style>.cls-1{fill:#fff;}.cls-2{fill:#f8a39d;opacity:0.49;}</style></defs><title>test_svg_header</title><g id="Calque_blanc"><path id="Tracé_blanc" class="cls-1" d="M1365,74.41v561L0,637.14V0L196.66,391.49l12.67,25.22s23.44,42.46,54.24,68.27c48,40.19,106.14,48.63,106.14,48.63h0s55.31,7.85,112.39-20.4S1365,74.41,1365,74.41Z"/></g><g id="Calque_rose"><path id="Tracé_rose" class="cls-2" d="M0,0,209.33,416.71s3.42,5.71,4.25,7c5.94,9.37,28.8,50.24,69.76,75.74,20.87,13,39.24,24,86.38,34.15l-22.36-1.44a144.55,144.55,0,0,1-32.93-6l-20.57-6.28s-38.73-14.11-76.33-57.46a252.87,252.87,0,0,1-20.88-27.74C146.55,357.78,0,44.78,0,44.78Z"/></g></svg>
        </div>
    {% endblock %}


{% block main %}
    {#HEADER ACCUEIL - HEADER ACCUEIL - HEADER ACCUEIL#}

    {# FIN HEADER ACCUEIL - FIN HEADER ACCUEIL - FIN HEADER ACCUEIL#}
    <main class="bloc">
        <div class="container-fluid">
            <div class="row">
                <hgroup class="hgroupaccueil d-md-block d-none col-md-5 offset-md-1 offset-xl-1">
                    <h1 class="campinglajam">CAMPING<br>LA  JAMONIÈRE</h1>
                    <h2 class="mervent">MERVENT</h2>
                    <h3 class="mobilhomes">Mobil-homes, chalets, tentes, camping-car</h3>
                    <h4 class="vendee">V  e  n  d  é  e</h4>
                </hgroup>
            </div>
        </div>
        {#MAIN#}
        <div class="bienvenue container-fluid absolutebienvenue">
            <div class="row">
                <div class="col-5 offset-1 col-md-2 offset-md-8 pl-0">
                    <img src="{{ asset ('assets/img/logo-02.png') }}" alt="logo" class="img-fluid">
                </div>
                <div class="col-6 col-md-4 offset-md-7 text-center">
                    <p class="text">Bienvenue au camping de la Jamonière à Mervent !
                        <br>
                        Ouverture le 6 Avril 2019 !
                        Jusqu’au 30 Septembre 2019
                    </p>
                </div>
            </div>
        </div>

        <div class="greensquare"></div>

        <div class="relative">
            <div class="cadrebarre">
                <div class="barrerose"></div>
            </div>

            {#PARTIE INFO - PARTIE INFOS - PARTIE INFOS#}

            <section>
                <article class="container-fluid my-4">
                    <h1 class="bigtitle offset-1"><b>INFORMATIONS</b> GÉNÉRALES</h1>

                    <div class="row">
                        <div class="col-sm-5 offset-sm-1 col-md-8 offset-md-2 col-10 offset-1 col-lg-5 offset-lg-1 cadreimg">
                            <img alt="pêcheurs" class="img-fluid imgarticle"
                                 src="{{ asset ('assets/img/pecheur.png') }}">
                            <h2 class="gradient1 parc">À 50 MIN DU PUY DU FOU</h2>
                        </div>
                        <div class="col-lg-5 offset-lg-0 col-10 offset-1 col-md-10 offset-md-1">
                            <h2 class="smalltitle">En bordure d'étang et semi-obragé, le camping de la Jamonière met
                                à
                                votre disposition:</h2>
                            <ul class="listinfo">
                                <li>30 emplacements de camping</li>
                                <li>8 mobil-homes Confort <span class="infos">(4 personnes)</span></li>
                                <li>2 mobil-homes Premium Luxe <span class="infos">(4/6 personnes)</span></li>
                                <li>2 chalets <span class="infos">(4/5 personnes)</span></li>
                                <li>Douches et toilettes avec accès PMR <span class="infos">(personne à mobilité réduite)</span>
                                </li>
                                <li>Un lave linge</li>
                                <li>Un barbecue collectif</li>
                                <li>Une table de ping-pong avec prêt de raquettes gratuit</li>
                                <li>Un accès WIFI gratuit à l'accueil</li>
                            </ul>
                        </div>
                    </div>
                </article>


                <article class="container-fluid my-4">
                    <h1 class="bigtitle offset-2"><b>7 HA DE SITE</b> dont:</h1>

                    <div class="row">
                        <div class="col-sm-5 offset-sm-1 col-md-8 offset-md-2 col-10 offset-1 col-lg-5 offset-lg-2 cadreimg">
                            <img alt="lac" class="img-fluid imgarticle"
                                 src="{{ asset ('assets/img/lac_barques.jpg') }}">
                            <div class="gradient2">
                                <h2 class="etang">AVEC UN ÉTANG DE PÊCHE</h2>
                                <p class="infos">Gratuité pour 1 ligne</p>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-lg-4 offset-lg-2 col-10 offset-1 col-md-10 offset-md-1" id="slide2">
                            <h2 class="smalltitle">En bordure d'étang et semi-obragé, le camping de la Jamonière met
                                à
                                votre
                                disposition:</h2>
                            <ul class="listinfo">
                                <li>Un snack bar (repas de groupe sur commande et location de salle possible)</li>
                                <li>Un étang de pêche (gratuité pour 1 ligne aux client du camping)</li>
                                <li>L'éco-musée "Les amis de la forêt" avec visites guidées sur réservation</li>
                            </ul>
                            <a href="{{ path ('Proximité') }}"><span class="infos">Plus d'infos &#x2794;</span></a>
                        </div>
                    </div>
                </article>
            </section>

            <div>
                <div class="barrerosebot"></div>
            </div>

            {#PARTIE CONTACT - PARTIE CONTACT - PARTIE CONTACT#}

            <section class="container mt-5">

                <article class="row">
                    <div class="offset-md-2 col-md-4 col-6">
                        <h2 class="bigtitle contact mt-0">Contact:</h2>
                        <p>
                            Camping De La Jamonière
                            <br>
                            <br>
                            "Les Amis de la Forêt"
                            <br>
                            <br>
                            129 route de la Bironnière
                            <br>
                            85200 MERVENT
                            <br>
                        </p>
                    </div>

                    <div class="col-md-6 d-none"></div>

                    <div class="offset-md-0 col-md-4 col-6">
                        <h2 class="bigtitle contact mt-1">Tél :</h2>
                        <p>02 51 00 26 29 / 06 20 17 18 54</p>

                        <div class="col-md-6"></div>

                        {#<div class="row" style="height: 10px">
                            <div style="width: 10%; margin: 0 auto;">
                                <a class="bouton" href="#slide3">&raquo;</a>
                            </div>
                        </div>#}

                        <h2 class="bigtitle contact mt-0" id="slide3">E-mail :</h2>
                        <p class="mail">contact@camping-jamoniere.com</p>
                    </div>
                </article>
            </section>

            {#PARTIE IMAGES - PARTIE IMAGES - PARTIE IMAGES#}

            <section class="picline">
                <div class="container-fluid">
                    <div class="row">
                        <img src="{{ asset ('assets/img/lac2.png') }}" alt="lac" class="imgfluid  p-0 col-3">
                        <img src="{{ asset ('assets/img/mobilhome_interieur.png') }}" alt="interieur de mobil-home"
                             class="imgfluid p-0 col-3">
                        <img src="{{ asset ('assets/img/sanitaires.png') }}" alt="sanitaires"
                             class="imgfluid  p-0 col-3">
                        <img src="{{ asset ('assets/img/tentes.png') }}" alt="tentes" class="imgfluid  p-0 col-3">
                    </div>
                </div>
            </section>
            {#/MAIN#}
        </div>
    </main>
{% endblock %}
