{% extends ('base.html.twig') %}

{% block stylesheets %}
{% endblock %}

    {% block main %}
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-8">
                    <div class="jumbotron">
                        <h4>Hello, world!</h4>
                        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
                        <hr class="my-4">
                        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
                        <a class="btn btn-success" href="#" role="button">Télécharger le PDF</a>
                        <a class="btn btn-danger" href="#" role="button">Annuler la réservation</a>
                    </div>
                </div>
                <div class="offset-md-1 col-md-3">
                    <div class="jumbotron">
                        <h4>Mes infos</h4>
                        <hr class="my-4">
                        <p><strong>Nom utilisateur:</strong> {{ user.username }}</p>
                        <hr class="my-4">
                        <p><strong>Email:</strong> {{ user.email }}</p>
                        <hr class="my-4">
                        <p><strong>Téléphone:</strong> {{ user.phone }}</p>
                        <p><strong>Date de naissance:</strong> {{ user.birthdate | date("m/d/Y") }}</p>
                        <hr class="my-4">
                        <p><strong>Adresse:</strong> {{ user.address }}</p>
                        <p>{{ user.postalCode }} {{ user.city }}</p>
                        <p>{{ user.country }}</p>

                        <a class="btn btn-success" href="{{ path ('fos_user_profile_edit') }}" role="button">Modifier</a>
                    </div>
                </div>

            </div>
        </div>
    {% endblock %}