{% extends ('base.html.twig') %}

{% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link href="{{ asset ('assets/css/reservation/choixemplacement.css') }}" rel="stylesheet" type="text/css">
{% endblock %}


{% block main %}
<!--  Details -->
<div class="form-group">
    <div class="container mt-4">
        <h2 class="heading">Details</h2>
    </div>
    <div class="container-fluid mt-md-5 mt-2">
        <form class="row p-5">

                <div class="controls col-md-6 col-lg-3">
                    <i class="fa fa-sort flechedaterange"></i>
                    <input type="text" class="floatLabel" id="reservation" value="<?php echo date('Y-m-d');?>">
                    <label for="reservation" class="label-date ml-2">
                        <i class="fa fa-calendar"></i> Date de séjour
                    </label>
                </div>

                <div class="col-md-6 col-lg-3">
                    <div class="controls">
                        <i class="fa fa-sort"></i>
                        <select class="floatLabel">
                            <option value="tentes">Tentes/Camping-car</option>
                            <option value="mobil-home" selected>Mobil-home</option>
                            <option value="mobil-home-luxe">Mobil-home Luxe</option>
                            <option value="chalet">Chalet</option>
                        </select>
                        <label for="fruit"><i class="fas fa-campground"></i> Logement</label>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3">
                    <div class="controls">
                        <i class="fa fa-sort"></i>
                        <select class="floatLabel">
                            <option value="1">1 et +</option>
                            <option value="2">2 et +</option>
                            <option value="3">3 et +</option>
                            <option value="4" selected>4 et +</option>
                            <option value="5">5 et +</option>
                            <option value="6">6 et +</option>
                        </select>
                        <label for="fruit"><i class="fa fa-male"></i>&nbsp;Couchages</label>
                    </div>
                </div>

            <div class="col-md-6 col-lg-3 divrecherche">
                <button class="p-2 rechercher rounded button" type="submit" value="Submit"><i class="fas fa-search"></i>   CHERCHER</button>
            </div>
        </form>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-6">
            <div class="thumbnail">
                <h3 class="thumbnailtitle">Emplacement tentes</h3>
                <div class="imgthumnail">
                    <img class="img-fluid" src="{{ asset ('assets/img/emplacement.png') }}" alt="Nature">
                </div>
                <div class="caption">
                    <p>Hic dolore eram illum nescius, summis an nostrud ne varias. Ut quid dolore se
                        deserunt se
                        culpa
                        doctrina possumus, irure distinguantur officia eram quamquam, ubi nam
                        instituendarum,
                        quamquam
                        minim vidisse nescius.</p>
                    <p>
                        <a href="{{ path ('Article') }}" class="btn btn-xs btn-success" role="button" title="Réserver dès maintenan">
                            Réserver dès maintenant
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6">
            <div class="thumbnail">
                <h3 class="thumbnailtitle">Mobil-home</h3>
                <div class="imgthumnail">
                    <img class="img-fluid" src="{{ asset ('assets/img/mobilhome.png') }}" alt="Nature">
                </div>
                <div class="caption">
                    <p>Hic dolore eram illum nescius, summis an nostrud ne varias. Ut quid dolore se
                        deserunt se
                        culpa
                        doctrina possumus, irure distinguantur officia eram quamquam, ubi nam
                        instituendarum,
                        quamquam
                        minim vidisse nescius.</p>
                    <p>
                        <a href="{{ path ('Article') }}" class="btn btn-xs btn-success" role="button" title="Réserver dès maintenant">
                            Réserver dès maintenant
                        </a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6">
            <div class="thumbnail">
                <h3 class="thumbnailtitle">Mobil-home Luxe</h3>
                <div class="imgthumnail">
                    <img class="img-fluid" src="{{ asset ('assets/img/emplacement_mobilhome.png') }}" alt="Nature">
                </div>
                <div class="caption">
                    <p>Hic dolore eram illum nescius, summis an nostrud ne varias. Ut quid dolore se
                        deserunt se
                        culpa
                        doctrina possumus, irure distinguantur officia eram quamquam, ubi nam
                        instituendarum,
                        quamquam
                        minim vidisse nescius.</p>
                    <p>
                        <a href="{{ path ('Article') }}" class="btn btn-xs btn-success" role="button" title="Réserver dès maintenant">
                            Réserver dès maintenant
                        </a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6">
            <div class="thumbnail">
                <h3 class="thumbnailtitle">Chalet</h3>
                <div class="imgthumnail">
                    <img class="img-fluid" src="{{ asset ('assets/img/mobilhome_interieur.png') }}" alt="Nature">
                </div>
                <div class="caption">
                    <p>Hic dolore eram illum nescius, summis an nostrud ne varias. Ut quid dolore se
                        deserunt se
                        culpa
                        doctrina possumus, irure distinguantur officia eram quamquam, ubi nam
                        instituendarum,
                        quamquam
                        minim vidisse nescius.</p>
                    <p>
                        <a href="{{ path ('Article') }}" class="btn btn-xs btn-success" role="button" title="Réserver dès maintenan">
                             Réserver dès maintenant
                        </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
    <!-- jQuery 3 -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script>
        (function($){
            function floatLabel(inputType){
                $(inputType).each(function(){
                    var $this = $(this);
                    // on focus add cladd active to label
                    $this.focus(function(){
                        $this.next().addClass("active");
                    });
                    //on blur check field and remove class if needed
                    $this.blur(function(){
                        if($this.val() === '' || $this.val() === 'blank'){
                            $this.next().removeClass();
                        }
                    });
                });
            }
            // just add a class of "floatLabel to the input field!"
            floatLabel(".floatLabel");
        })(jQuery);
    </script>
    <script>
        $(function () {

            $('#reservation').daterangepicker()

        });


    </script>
{% endblock %}
