{% extends ('base.html.twig') %}

{% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap"
          rel="stylesheet">
    <link href="{{ asset ('assets/css/reservation/reserver.css') }}" rel="stylesheet" type="text/css">
{% endblock %}


{% block main %}
    <!--  Details -->

    {# filtre#}
    <div class="container">
        <div class="row">
            <h1 class="col text-success">Nos emplacements :</h1>
        </div>
        <div class="jumbotron">
            {{ form_start(form) }}
            <div class="form-row align-items-end">

                {# faux filtre #}
                {#<div class=" form-group controls col-md-6 col-lg-3">
                    <label for="reservation" class="label-date ml-2">
                        <i class="fa fa-calendar"></i> Date de séjour
                    </label>
                    #}{#<i class="fa fa-sort flechedaterange"></i>#}{#
                    <input type="text" class="floatLabel rounded border-light w-100" id="reservation" value="<?php echo date('Y-m-d');?>">
                </div>#}
                {# faux filtre#}

                <div class="offset-md-2 col">
                    {{ form_row(form.Name) }}
                </div>
                <div class="col">
                    {{ form_row(form.minCapacity) }}
                </div>
                <div class="col form-group">
                    <button type="submit" class="btn btn-success">Chercher</button>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
    {# FIN DU FILTRE #}

    {# RÉSULTAT #}
    <div class="container">
        <div class="row mt-4">
            <h1 class="heading text-success">Tout les emplacements</h1>
        </div>
        <div class="row">
            {% for spot in spots %}
                <div class="col-md-4 card p-4">
                    <div style="height: 450px;">
                        <div class="row">
                            <div>
                                <h3 class="thumbnailtitle">{{ spot.name }}</h3>
                                <h6 class="text-success">{{ spot.capacity }} personnes</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div>
                                <img class="img-fluid" src="{{ asset('assets/img/slider/' ~ spot.media) }}"
                                     alt="Nature">
                            </div>
                            <div class="caption">
                                <p>{{ spot.info }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="text-center mb-3">
                        <button class="btn btn-xs btn-success" role="button" title="Réserver dès maintenant">
                            <a href="{{ path('Article', {'id': spot.id}) }}">Réserver dès maintenant</a>
                        </button>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {#vrai filtre #}


    {# tout les emplacements #}
{% endblock %}

{% block javascripts %}
   {# <!-- jQuery 3 -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script>
        (function ($) {
            function floatLabel(inputType) {
                $(inputType).each(function () {
                    var $this = $(this);
                    // on focus add cladd active to label
                    $this.focus(function () {
                        $this.next().addClass("active");
                    });
                    //on blur check field and remove class if needed
                    $this.blur(function () {
                        if ($this.val() === '' || $this.val() === 'blank') {
                            $this.next().removeClass();
                        }
                    });
                });
            }

            // just add a class of "floatLabel to the input field!"
            floatLabel(".floatLabel");
        })(jQuery);
    </script>#}
    {#<script>
        $(function () {

            $('#reservation').daterangepicker()

        });


    </script>#}
{% endblock %}


