{% trans_default_domain 'FOSUserBundle' %}
<link rel="icon" href="{{ asset ('assets/img/logoMSPR.png') }}" type="image/png">
<div class="container">
    <h1 class="col-12 text-center" style="color: #0A5524;">Formulaire d'inscription</h1>
    <p class="mb-5 col-12 text-success text-center">Ce formulaire vous permettra de consulter et d'annuler votre
        réservation</p>
    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-6 form-group">
                {# prénom #}
                {{ form_label(form.firstName, 'Prénom') }}
                {{ form_widget(form.firstName, {'attr': {'class': 'form-control', 'placeholder':'Votre prénom'}}) }}
                {{ form_errors(form.firstName) }}
            </div>
            <div class="col-sm-6 form-group">
                {# Nom #}
                {{ form_label(form.lastName, 'Nom') }}
                {{ form_widget(form.lastName, {'attr': {'class': 'form-control', 'placeholder':'Votre nom'}}) }}
                {{ form_errors(form.lastName) }}
            </div>

            <div class="col-sm-12 form-group">
                {# Adresse #}
                {{ form_label(form.address, 'Adresse') }}
                {{ form_widget(form.address, {'attr': {'class': 'form-control', 'placeholder':'Votre adresse'}}) }}
                {{ form_errors(form.address) }}
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4 form-group">
                {# Ville #}
                {{ form_label(form.city, 'Ville') }}
                {{ form_widget(form.city, {'attr': {'class': 'form-control', 'placeholder':'Votre ville'}}) }}
                {{ form_errors(form.city) }}
            </div>
            <div class="col-sm-4 form-group">
                {# Pays #}
                {{ form_label(form.country, 'Pays') }}
                {{ form_widget(form.country, {'attr': {'class': 'form-control', 'placeholder':'Pays'}}) }}
                {{ form_errors(form.country) }}
            </div>
            <div class="col-sm-4 form-group">
                {# Code postal #}
                {{ form_label(form.postal_code, 'Code Postal') }}
                {{ form_widget(form.postal_code, {'attr': {'class': 'form-control', 'placeholder':'Code postal'}}) }}
                {{ form_errors(form.postal_code) }}
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4 form-group">
                {# Téléphone #}
                {{ form_label(form.phone, 'Téléphone') }}
                {{ form_widget(form.phone, {'attr': {'class': 'form-control', 'placeholder':'Votre téléphone'}}) }}
                {{ form_errors(form.phone) }}
            </div>
            <div class="col-sm-4 form-group">
                {# Email #}
                {{ form_label(form.email, 'Email') }}
                {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder':'Votre adresse mail'}}) }}
                {{ form_errors(form.email) }}
            </div>
            <div class="col-sm-4 form-group">
                {# Date de naissance #}
                {{ form_label(form.birthdate, 'Date de naissance') }}
                {{ form_widget(form.birthdate) }}
                {{ form_errors(form.birthdate) }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 form-group">
                {# Mot de passe 1 #}
                {{ form_label(form.plainPassword.first, 'Mot de passe') }}
                {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control', 'placeholder':' Choisissez un mot de passe'} }) }}
                {{ form_errors(form.plainPassword.first) }}
            </div>
            <div class="col-sm-6 form-group">
                {# Mot de passe 2 #}
                {{ form_label(form.plainPassword.second, 'Confirmez votre mot de passe') }}
                {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control', 'placeholder':'Confirmez votre mot de passe'} }) }}
                {{ form_errors(form.plainPassword.second) }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 form-group">
            {{ form_widget(form.newsletter, { 'attr': {'class': 'ml-0 position-static'} }) }}
        </div>
        <div class="col-sm-6 form-group">
            <input class="btn btn-success" type="submit" value="{{ 'registration.submit'|trans }} et aller au récapitulatif de réservation"/>
        </div>
    </div>


    {{ form_end(form) }}
</div>
