{% extends ('baseAdmin.html.twig') %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset ('assets/admin/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css') }}">
{% endblock %}

    {% block main %}
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <section class="content-header">
                <h1>
                    Liste des réductions journalières
                </h1>
                <ol class="breadcrumb">
                    <li><a href="{{ path ('Dashboard') }}"><em class="fa fa-dashboard"></em>Accueil</a></li>
                    <li><a href="#">Liste</a></li>
                    <li class="active"><a href="{{ path ('listeDiscount') }}">Réductions</a></li>
                </ol>
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="box">
                            <div class="box-header">
                                <h1>Gérer les réductions</h1>

                                {% for message in app.flashes('success') %}
                                    <div class="alert alert-success">
                                        {{ message }}
                                    </div>
                                {% endfor %}

                                <a href="{{ path ('admin.listediscount.create')}}" class="btn btn-success">Créer une nouvelle réduction</a>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <table id="table_media" class="table table-bordered table-striped">
                                    {%  for discount in discounts %}
                                        <thead>
                                        <tr>
                                            <th>{{ discount.name }}</th>
                                            <th>Actions</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>{{ discount.discountValue }}</td>
                                            <td>
                                                <a href="{{ path ('admin.discount.edit', {id: discount.id}) }}" class="btn btn-success">Editer</a>
                                                <form method="post" action="{{ path ('admin.discount.delete', {id: discount.id}) }}" onsubmit="return confirm('Supprimer cette réduction ?')" style="margin-top: 5%;">
                                                    <input type="hidden" name="_method" value="DELETE">
                                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ discount.id) }}">
                                                    <button class="btn btn-danger">Supprimer</button>
                                                </form>
                                            </td>
                                        </tr>
                                        </tbody>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </section>
            <!-- /.content -->
        </div>
    {% endblock %}

{% block javascripts %}
    <!-- DataTables -->
    <script src="{{ asset ('assets/admin/bower_components/datatables.net/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset ('assets/admin/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js')}}"></script>
    <script>
        $('#table_media').DataTable({
            language: {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
            }
        });
    </script>
    <!-- DataTables -->
{% endblock %}
