<!DOCTYPE html>
<html lang="fr">
<head>
    {# Required meta tags #}
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    {#Onglet et typo#}
    <link rel="icon" href="{{ asset ('assets/img/logo-02.png') }}" type="image/png">
    <title>{% block title %}Camping la Jamonière{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap"
          rel="stylesheet">
    {# Bootstrap CSS #}
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <link href="{{ asset ('assets/css/styleBase.css') }}" rel="stylesheet" type="text/css">
    {% block stylesheets %}{% endblock %}

</head>
<body>
<div class="wrap stickyfooter">
    <header class="position-relative">
        {#HEADER#}
        {% block header %}
            <div class="header d-md-block d-none mb-md-5">
                {# SVG #} {# CACHE POUR LA WAVE #}
                <svg class="mt-5" id="Calque_1" data-name="Calque 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1264.27 162.13"><defs><style>.cls-1{fill:#fff;}.cls-2{fill:#e5baad;opacity:0.5;}</style></defs><title>Capture d’écran 2019-08-15 à 03.33.38</title><path class="cls-1" d="M0,54.07S61.89,176.8,224.09,146.76L1264.27,0V162.13L0,162.08Z"/><path class="cls-2" d="M0,54.68s46.8,88.2,156.49,96.12a246.5,246.5,0,0,0,29.19.54s-54.9,13.13-111.59-16.71S0,72.58,0,72.58Z"/></svg>
                {# /SVG #} {# /CACHE POUR LA WAVE #}
            </div>
        {% endblock %}

        {# Navbar #}
        <nav class="navbar navbar-expand-md navbar-dark gradientnavbar absolutenavbar textnav" id="mainNav">

            <a class="navbar-brand js-scroll-trigger" href="#page-top">{#<img src="../public/assets/img/logo-02.png" alt="logo" class="img-fluid" style="height: 50px;">#}Camping la Jamonière</a>
            <button class="navbar-toggler navbar-toggler-right text-white" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger text-white" href="{{ path('Accueil') }}">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger text-white" href="{{ path('Photos') }}">Photos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger text-white" href="{{ path('Proximité') }}">A proximité</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Tarifs
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{{ path ('TarifsMobilHome') }}">Mobil-Homes</a>
                            <a class="dropdown-item" href="#">Chalet</a>
                            <a class="dropdown-item" href="#">Tente / Camping-Cars</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger text-white" href="{{ path('FAQ') }}">F.A.Q</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger text-white" href="{{ path ('Contact') }}">Contact</a>
                    </li>
                    <li class="nav-item">
                        <button type="button" class="btn p-0 btn-default"><a class="nav-link js-scroll-trigger text-white" href="{{ path ('Choix') }}">RÉSERVATION</a></button>
                    </li>
                </ul>
            </div>
        </nav>
        {#/Navbar#}
    </header>
    {#/HEADER#}

    {% block main %}{% endblock %}


    {#FOOTER#}


    <footer>
        <div class="container mt-5 mb-2">
            <div class="row">
                <h1 class="resa col-md-5 offset-md-1 col-6 offset-0 mt-3">Réservation et paiement en ligne ou sur
                    place. CB, chèques et chèques
                    vacances acceptés.
                </h1>
                <div class="col-6 offset-0 col-md-5 offset-md-1 mt-3 mt-md-5 offset-lg-2 cadrebtnresa">
                    <a class="buttonresa" href="{{ path ('Choix') }}">RÉSERVEZ DÈS MAINTENANT</a>
                </div>
            </div>
        </div>

        <div class="container-fluid botlogoinfos">
            <div class="row">
                <div class="col-md-2 offset-md-10">
                    <img class="img-fluid" src="../public/assets/img/logo-02.png" alt="logo">
                </div>
                <p class="col-md-6 offset-md-6" style="color: white; text-align: right">
                    Camping la Jamonière - Mervent - Vendée
                    <br>
                    Mobil-homes, chalets, tentes, camping-cars
                </p>
            </div>
        </div>

        <div class="container-fluid navbot mt-md-0 mt-lg-5 mt-0">
            <div class="row justify-content-around">
                <div class="col-md-2 col-5 offset-1 offset-lg-6 col-lg-3">
                    <nav>
                        <a href="{{ path ('Accueil') }}">Accueil</a>
                        <br>
                        <a href="{{ path ('Photos') }}">Photos</a>
                        <br>
                        <a href="{{ path ('Proximité') }}">À proximité</a>
                    </nav>
                </div>
                <div class="col-md-2 col-5 col-lg-3">
                    <nav>
                        <a href="#">Tarifs</a>
                        <br>
                        <a href="{{ path ('FAQ') }}">FAQ</a>
                        <br>
                        <a href="{{ path ('Contact') }}">Contact</a>
                    </nav>
                </div>
                {#<div class="col-md-3 mb-5 newsletter text-white">
                    <p>
                        Inscrivez vous à la new-letter pour connaître les
                        dernières actualités du camping :
                    </p>
                    <div class="newsletterdnone">
                        <input class="button" type="text" placeholder="Votre Email"
                               style="font-weight: lighter; width: 265px;">
                        <button type="submit" class="button new">Submit</button>
                    </div>
                </div>#}
            </div>
        </div>
    </footer>
    {#/FOOTER #}



    {#Jquery#}

    <script src="https://kit.fontawesome.com/75abba9047.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    {% block javascripts %}{% endblock %}
    {#Jquery#}
</div>
</body>
</html>
