<!DOCTYPE html>
<html lang="fr">
<head>
    {# Required meta tags #}
    <meta charset="utf-8">
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="icon" href="{{ asset ('assets/img/logo-02.png') }}" type="image/png">
    <title>Tableau de bord</title>

    {# Bootstrap #}
    <link rel="stylesheet" href="{{ asset('assets/admin/bower_components/bootstrap/dist/css/bootstrap.min.css') }}">

    {# FONT AWESOME #}
    <link rel="stylesheet" href="{{ asset('assets/admin/bower_components/font-awesome/css/font-awesome.min.css') }}">


    <!-- Theme style -->
    <link rel="stylesheet" href="{{ asset ('assets/admin/dist/css/AdminLTE.min.css') }}">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="{{ asset ('assets/admin/dist/css/skins/_all-skins.min.css') }}">
    {% block stylesheets %}{% endblock %}

</head>

<!-- ADD THE CLASS fixed TO GET A FIXED HEADER AND SIDEBAR LAYOUT -->
<!-- the fixed layout is not compatible with sidebar-mini -->
<body class="hold-transition skin-blue fixed sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">

    {# HEADER #}
    <header class="main-header">
        <!-- Logo -->
        <a href="" class="logo" style="background-color: darkgreen;">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><b>Ad</b>min</span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b>Admin</b></span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" style="background-color: forestgreen;">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                <span class="sr-only"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>

            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <!-- Messages: style can be found in dropdown.less-->
                    <li class="dropdown messages-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-envelope-o"></i>
                            <span class="label label-success">4</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">You have 4 messages</li>
                            <li>
                                <!-- inner menu: contains the actual data -->
                                <ul class="menu">
                                    <li><!-- start message -->
                                        <a href="#">
                                            <h4>
                                                Support Team
                                                <small><i class="fa fa-clock-o"></i> 5 mins</small>
                                            </h4>

                                        </a>
                                    </li>
                                    <!-- end message -->
                                </ul>
                            </li>
                            <li class="footer"><a href="#">See All Messages</a></li>
                        </ul>
                    </li>
                    <!-- Notification: style can be found in dropdown.less -->
                    <li class="dropdown notifications-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-bell-o"></i>
                            <span class="label label-warning">10</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">You have 10 notifications</li>
                            <li>

                            </li>
                            <li class="footer"><a href="#">View all</a></li>
                        </ul>
                    </li>

                    <!-- User Account: style can be found in dropdown.less -->
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="{{ asset ('assets/img/logo-02.jpg') }}" class="user-image" alt="User Image">
                            <span class="hidden-xs">Madée</span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- User image -->
                            <li class="user-header" style="background-color: #0A5524">
                                <img src="{{ asset ('assets/img/logo-02.jpg') }}" class="img-circle" alt="User Image">

                                <p>
                                    Madée
                                </p>
                            </li>

                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="pull-right">
                                    <a href="{{ path('fos_user_security_logout') }}" class="btn btn-default btn-flat">Déconnecter</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <!-- FIN HEADER =========================================== -->


    {# ASIDE #}
    <!-- Left side column. contains the sidebar -->
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- Sidebar user panel -->
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="{{ asset ('assets/img/logo-02.jpg') }}" class="img-circle" alt="User Image">
                </div>
                <div class="pull-left info">
                    <p>Madée</p>
                </div>
            </div>

            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu" data-widget="tree">
                <li class="header">TABLEAU DE BORD</li>
                <li>
                    <a href="{{ path ('Dashboard') }}">
                        <i class="fa fa-book"></i> <span>Général</span>
                    </a>
                </li>

                <li>
                    <a href="{{ path ('listeFAQ') }}">
                        <i class="fa fa-dashboard"></i>
                        <span>Gérer la FAQ</span>
                        <span class="pull-right-container"></span>
                    </a>
                </li>

                <li>
                    <a href="{{ path ('ListeResa') }}">
                        <i class="fa fa-calendar"></i> <span>Liste des réservations</span>
                    </a>
                </li>

                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-files-o"></i>
                        <span>Gérer les images et les infos logement</span>
                        <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="{{ path ('listeCategory') }}"><i class="fa fa-circle-o"></i>Gérer les logements</a></li>
                        <li><a href="{{ path('listeSlider') }}"><i class="fa fa-circle-o"></i>Gérer le slider de photos</a></li>
                        <li><a href="{{ path('listeMedia') }}"><i class="fa fa-circle-o"></i>Gérer la banque d'image</a></li>
                    </ul>
                </li>

                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-files-o"></i>
                        <span>Gérer les tarifs et saisons</span>
                        <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="{{ path ('listeTarif') }}"><i class="fa fa-circle-o"></i>Gérer les tarifs journaliers</a></li>
                        <li><a href="{{ path ('listeDiscount') }}"><i class="fa fa-circle-o"></i>Gérer les réductions journalières</a></li>
                        <li><a href="{{ path ('listeOption') }}"><i class="fa fa-circle-o"></i>Gérer les options</a></li>
                        <li><a href="{{ path ('listeSeason') }}"><i class="fa fa-circle-o"></i>Gérer les saisons</a></li>
                    </ul>
                </li>

                <li>
                    <a href="#">
                        <i class="fa fa-th"></i> <span>Éditer une newsletter</span>
                    </a>
                </li>


            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>

    <!-- FIN ASIDE ============================================= -->



        {% block main %}{% endblock %}




    {# FOOTER #}
    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            Version 1
        </div>
        <strong>Copyright &copy; Estelle Denage<a href=""></a>.</strong> All rights
        reserved.
    </footer>
    {# FIN FOOTER #}

</div> {# FIN DE LA DIV "WRAPPER" #}
<!-- ./wrapper -->

{# JQUERY #}
<script src="{{ asset('assets/admin/bower_components/jquery/dist/jquery.min.js') }}"></script>

{# BOOTSTRAP #}
<script src="{{ asset('assets/admin/bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>

<!-- SlimScroll -->
<script src="{{ asset('assets/admin/bower_components/jquery-slimscroll/jquery.slimscroll.min.js') }}"></script>

<!-- FastClick -->
<script src="{{ asset('assets/admin/bower_components/fastclick/lib/fastclick.js') }}"></script>

<!-- AdminLTE App -->
<script src="{{ asset('assets/admin/dist/js/adminlte.min.js') }}"></script>

{% block javascripts %}{% endblock %}

</body>
</html>
